.input {
    border: none;
    padding: 8px 16px;
    outline: none;
    width: 866px;
    height: 70px;
    font-size: 24px;
    box-sizing: border-box;
}

.icon-input {
    display: flex;
    align-items: center;
    justify-content: center;
}